:root {
    --dark-card-bg: #212121;
    --details-font: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --title-font: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --card-shadow-darkmode: 0 0.25rem 0.5rem black;
    --card-shadow-lightmode: 0 0.25rem 0.5rem gray;


}

body {
    margin: 0;
}

nav .navlist {
    margin-top: 0;
    padding: 1rem 2.5rem 1rem 2.5rem;
    list-style-type: none;
    display: flex;
    justify-content: end;

}

.navlistItem {
    display: inline-block;
    font-family: var(--details-font)
}

.navlistItem:not(#firstNavElement) {
    display: none;
}

.navlistItem a {
    text-decoration: none;
    color: #131515;
    border: 0 solid white;

}

.navlistItem a:hover {
    border-bottom: 2px solid #3936F3;
    border-width: 100%;
    transition: border-color 0.1s linear;
    border-width: 100%;
}

#firstNavElement {
    flex-grow: 1;
    font-size: xx-large;
    font-weight: 900;
    color: #131515;
    text-align: center;
}



.header {
    width: 100vw;
    text-align: center;
    font-size: xx-large;
    font-family: var(--title-font);
}

.header h1 {
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: start;
    padding: 0 0.5rem 0 0.5rem;
}

.card {
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem gray;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}



.card:not(#card2) {
    height: 25rem;
    background-color: var(--dark-card-bg);
    color: white;

}

#card1 {
    order: 2;
}


#card3 {
    order: 3;
}

#card2 {
    order: 1;
    height: 32rem;
    box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.55);
    background-color: #ffffff;
}

.tagContainer {
    width: 100%;
    height: 0.5%;
    display: flex;
    justify-content: end;
    padding-bottom: 0.5rem;
}

.tag {
    background-color: #3936F3;
    color: white;
    width: 100%;
    height: 1.25rem;
    border-radius: 2rem 2rem 0 0rem;
    padding: 0.1rem 0 0.1rem 0;
    font-family: var(--details-font)
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.title,
.subtitle {
    margin: 0;
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 900;
    font-family: var(--title-font);

}

.subtitle {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--details-font)
}

.card:not(#card2) .title {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.card:not(#card2) .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

.cardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
    align-content: flex-start;
}

.cardContent .imgContainer {
    height: 70%;
    width: 100%;
}

.card:not(#card2) .cardContent .imgContainer {
    padding-top: 1.5rem;
    height: 50%;
}

.cardImg {
    width: 100%;
    height: 100%;
}

.details {
    width: 100%;
}

.details .detailsText {
    font-family: var(--details-font)
}

#card2 .details .detailsText {
    font-size: 1.25rem;
    font-weight: 400;
    width: 100%;
    margin: 1rem 0 1rem 0;
}



.buttonContainer {
    width: 100%;
}

.buttonContainer button {
    background-color: #3936F3;
    color: white;
    border: #3a36f3 solid 1px;
    padding: 2.5%;
    width: 70%;
    font-size: large;
    border-radius: 0.85rem;
}

.card:not(#card2) .buttonContainer button {
    margin-top: 0.12rem;
    width: 50%;
}

/* Medium devices (landscape tablets, 992px and up) */
@media only screen and (min-width: 992px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0 5rem 0 5rem;

    }


    .card:not(#card2) {
        height: 30rem;
        z-index: -1;
        position: relative;
        flex: 1 0 0;
        background-color: var(--dark-card-bg);
        color: white;

    }

    #card1 {
        order: 1;
        transform: translateX(2rem);

    }


    #card3 {
        order: 3;
        transform: translateX(-2rem);

    }

    #card2 {
        transform: translateY(-3rem);
        height: 36rem;
        order: 2;
        flex: 1;
    }

    .buttonContainer button {
        width: 80%;
    }

    #firstNavElement {
        text-align: left;
    }

    .navlistItem:not(#firstNavElement) {
        padding: 0 1rem 0 1rem;
        display: inline-block;
    }


}

@media only screen and (min-width: 1600px) {

    .container {
        gap: 0rem;
        padding: 0 20rem 0 20rem;
    }


    .card:not(#card2) {
        flex: 3 0 0;

    }

    #card1 {
        transform: translateX(1rem);
    }

    #card1 .cardContent {
        padding-right: 2rem;
    }

    #card3 .cardContent {
        padding-left: 2rem;

    }

    #card3 {
        transform: translateX(-1rem);
    }

    #card2 {
        flex: 4;
    }


}